<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401</title>
    <link rel="stylesheet" href="./static/error/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-div">
        <h1>401</h1>
        <br>
        <i class="fa-solid fa-triangle-exclamation icon"></i>
    </div>
    <h1 class="ss">access denied</h1>
    <p>check the url is correct</p>

    
</body>
</html>